:root {
  /* Colors */
  --blue: #748cc3;
  --pink: #f985a3;
  --light-purple: #ead3f8;
  --dark-red: #5d2333;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--blue);
}

body::-webkit-scrollbar {
  display: none;
}

.accordion {
  width: 90vw;
  margin: 0 auto;
}

.accordion:hover .header-2,
.accordion:hover .fa {
  color: var(--pink);
  text-shadow: 0.08em 0.08em 0 var(--blue);
}

.accordion:hover .accordion__item {
  background-color: var(--white);
  border: 2px solid var(--light-purple);
}

.accordion__item {
  margin-bottom: 1%;
  background-color: var(--light-purple);
  border: 2px solid var(--white);
  border-radius: 10px;
}

.accordion__item:hover .comics__content {
  height: 100%;
  transition: 0.5s;
}

.accordion__item:hover .comics__content .comics__img {
  height: 213px;
  transition: 0.5s;
}

.header {
  margin-top: 0;
  font-size: 1em;
  font-family: 'Nanum Pen Script', cursive;
  text-transform: uppercase;
}

.header-1 {
  margin-top: 0.8em;
  font-size: 1.4em;
  color: var(--white);
}

.header-2,
.fa {
  color: var(--dark-red);
  margin-bottom: 0;
}

.icons-wrapper {
  position: relative;
  width: 1em;
  height: 1em;
}

.fa {
  position: absolute;
  transition: 0.5s;
}

.fa.fa-close {
  opacity: 0;
}

.accordion__item:hover .fa.fa-plus {
  opacity: 0;
}

.accordion__item:hover .fa.fa-close {
  opacity: 1;
}

.comics__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 3% 0 3%;
}

.comics__content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 0;
  padding: 0 3% 3% 3%;
  transition: 0.5s;
}

.accordion__item .comics__content .comics__img {
  width: 80%;
  height: 0;
  border-radius: 3px;
  margin-top: 5%;
  transition: 0.5s;
}

.input {
  display: none;
}

.input:checked ~ label .comics__content {
  height: fit-content;
  transition: 0.5s;
}

.input:checked ~ label .comics__content .comics__img {
  height: 80% !important;
}

.input:checked ~ label .comics__header .fa-plus {
  opacity: 0;
}

.input:checked ~ label .comics__header .fa-close {
  opacity: 1;
}

@media only screen and (min-width: 500px) {
  .accordion {
    width: 85vw;
  }

  .header {
    font-size: 2.5em;
  }
  
  .header-1 {
    font-size: 3em;
  }

  .icons-wrapper {
    width: 2.5em;
    height: 2.5em;
  }

  .fa {
    font-size: 2em !important;
  }
}

@media only screen and (min-width: 800px) {
  .accordion {
    width: 70vw;
    max-width: 700px;
  }

  .accordion__item .comics__content {
    transition: 0.5s;
  }

  .accordion__item .comics__content .comics__img {
    width: 70%;
    height: 0px;
    transition: 0.5s;
  }

  .accordion__item {
    transition: 0.5s;
  }

  .accordion__item:hover .comics__content .comics__img {
    height: 432px;
    transition: 0.5s;
  }

  .header {
    font-size: 2em;
  }
  
  .header-1 {
    font-size: 3em;
  }

  .icons-wrapper {
    width: 2em;
    height: 2em;
  }

  .fa {
    font-size: 1.5em !important;
  }

  .comics__img {
    width: 50%;
    margin-top: 2% !important;
  }

  .input:checked ~ label .comics__content .comics__img {
    height: 50% !important;
  }

  .comics__header {
    padding: 2% 2% 0 2%;
  }
  
  .comics__content {
    padding: 0 2% 2% 2%;
  }
}